/*由于项目采用前后端分离开发，
且对接为后端对接，
如果在对接对接后产生样式微调整，
代码合并方面就会有影响，
因此采用额外css作为样式微调的统一处理*/

#app .login-layout {
  background-size: 100% 55.55%;
  .logo {
    margin-bottom: 50px
  }
  .login-content {
    margin-top: 7%;
  }
  .footer {
    bottom: 6%
  }
}
#app .home-page {
  height: auto;

  .home-header {
    position: sticky;
    top: 0;
    z-index: 20;
    .el-button {
      color: $primaryColor;
      border: none;
    }
    .el-badge__content {
      border: none;
    }
    .el-menu.el-menu--horizontal {
      border: none;
    }
  }
  .home-header .logo {
    height: 36px;
    width: auto;
    margin-top: 12px;
    margin-bottom: 12px
  }
  .home-header .el-menu-item {
    color: #fff;
    opacity: .8;
  }
  .home-header .el-menu-item.is-active,.home-header .el-menu-item:hover{
    opacity: 1;
  }
  .el-submenu__icon-arrow {
    display: none;
  }
  .home-footer {
    font-size: 14px;
  }

  .home {
    .category {
      &:nth-child(even) {
        box-shadow: 0px 0px 8px 0px #E9E9E9;
      }

      &:nth-child(odd) {
        background-color: #F8FAFC;
      }
    }
  }
  .card-item:hover {
    h3 {
      color: $primaryColor 
    }
  }
  .category {
    .el-link.is-underline:hover:after {
      border: 0
    }
  }
}

#app .info .bread {
  margin-top: 0;
}

// user

.user {
  background: #FDFDFF;
  .layout-header {
    z-index: 200;
    .el-button {
      color: $primaryColor;
      border: none;
    }
    .el-badge__content {
      border: none;
    }
  }
 

  .el-breadcrumb {
    font-size: 16px;
    position: fixed;
    top: 81px;
    left: 261px;
    z-index: 100;
    background: #fff;
    width: 100%;
  }
  .el-aside li {
    i {
      margin-bottom: 4px;
    }
  }

  .line-menu {
    background: $primaryColor;

    .el-menu {
      background: $primaryColor;
    }

    .el-menu-item {
      color: #fff;
      opacity: 0.8;

      &.is-active, &:hover {
        color: #fff !important;
        background: inherit !important;
        opacity: 1;
      }
    }

    .el-submenu {
      .el-submenu__title {
        color: #fff !important;

        &.is-active, &:hover {
          background: inherit !important;
        }
      }
    }

    &.el-menu--horizontal>.el-menu-item.is-active {
      border-color: #fff;
    }
  }
  .el-main {
    position: absolute;
    left: 241px;
    right: 0;
    bottom: 0;
    top: 60px;
    padding-top: 70px;
    background-color: #fdfdff;
  }

  .user-info {
    .el-icon-edit {
      font-size: 22px;
    }
  }

  .exam {
    td .el-form-item {
      margin-bottom: 0;
    }
  }
.user-content {
  .paper {
    .btn-box {
      padding-top: 30px;
      .el-button {
        height: 48px;
        line-height: 24px;
      }
    }
  }
}
  .paper-aside {
    position: fixed;
    top: 140px;
    left: 50%;
    margin-left: 600px;
  }

  .admin-course .admin-course-list li {
    width: auto;
  }

  .student-list  {
    margin-right: 300px;
  }

  .approval-info {
    .el-card.is-always-shadow {
      box-shadow: none;
    }
    .overview {
      position: fixed;
      right:-20px;
      top: 160px;
    }
  }
    .paper-info {
      margin-right: 300px;
    }
     .overview {
      position: fixed;
      right:-20px;
      top: 160px;
    }
  

  .view-exam-process, .view-exam-finish {
    margin-top: 20px;
  }

  .create-course .create-course-inner {
    width: auto;
  }

  .create-chapter-table {
    .el-input__inner {
      border: none;
    }
  }
  .create-course-footer {
    margin-bottom: -10px;
  }

  .drawer {
    .el-card.is-always-shadow {
      box-shadow: none;
      height: calc(100vh - 140px);
      overflow: auto;
    }
  }
}