* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn-block {
  display: block;
  width: 100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

html, body, #app {
  height: 100%;
}